/* Customizations for this page */

	.btn-block{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	
	.text-center{
		margin-bottom: 2rem;
	}
	
	.form-control{
		height: calc(3rem + 2px);
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}
	
	.display-5 {
		margin-top: 1.5rem;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.2;
	}
	
	.btn-view{
		padding-left: 3rem;
		padding-right: 3rem;
	}
	
	.custom-control-inline{
		margin-left: 2rem;
		margin-right: 0rem;
    }
    

